.private-booked{
   margin: 20px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
    line-height: 4px;
    border: 1px solid rgb(0, 0, 0);
    background-color: brown;
 }

 .private-none{
    margin: 20px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
    line-height: 4px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(20, 244, 61);
 }