.private-booked{
    margin: 0px 200px 0px 200px;
    line-height: 4px;
    border: 1px solid rgb(0, 0, 0);
    background-color: brown;
    position: relative;
    left: 220px;
 }

 .private-none{
   margin: 0px 200px 0px 200px;
    line-height: 4px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(20, 244, 61);
    position: relative;
    left: 220px;
 }