.R{
    margin: 40px 140px 40px 140px;
    line-height: 4px;
    border: 1px solid rgb(0, 0, 0);
    background-color: brown;
 }

 .G
 {
    margin: 40px 140px 40px 140px;
    line-height: 4px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(20, 244, 61);
 }

.Y
{
    margin: 40px 140px 40px 140px;
    line-height: 4px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(209, 237, 23);
 }